body {
	margin: 0;
	font-family: arial;
	font-weight: bold;
}

header {
	width: 100%;
	padding: 0;
	margin: 0;
	background: #4cd5d6;
	height: 100vh;
	z-index: 4;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 100vh;
}

.iframe {
  width: 100%;
  height: 700px;
}

.trboc {
  height: 150px;
}

.tdboc {
  width: 70px;
  margin-top: 0;
}

.center-head-td {
  width: 400px;
}

.head-inthis {
  text-align:center;
  padding:10pt;
  border-radius:4pt;
}

.head-min-block {
  margin-left: 20%; 
  margin-top:0pt;
  color: white;
  padding:10pt;
  width:330px;
  height:230px;
  z-index: 100;
  position: absolute;
}

.head-sm-block {
  position: absolute;
  margin: 0 auto; 
  margin-left: 50%;
  margin-top: 35vh;
  color: white;
  padding:10pt;
  width:30px;
  height:30px;
}

.wrap-img {
  position:relative; 
  width:100%; 
  height:200px;
}

.sticky-content{
  padding: 0;
  z-index: 1000;
}

.sticky-content.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.head-text {
  float:none; 
  margin-left: 45%; 
  padding:10px; 
  position:absolute; 
  width:200px; 
  left:0; 
  bottom:0;
}

.bodyimg {
  position: absolute;
  margin-top: -15.4vh;
    background: url("../img/img.png");
    background-position: right;
    background-repeat: no-repeat;   
    background-size: 50% 100%;
    height: 103vh;
    width: 100%;
}

.btn {
  background: linear-gradient(to top, #059805, #79ff42);
  padding: 20px 60px;
  text-decoration: none;
  color: white;
  border-radius: 40px;
  font-size: 30px;
  box-shadow: 0.0em 0.2em 5px rgba(122,122,122,0.5);
  }

.btn:hover {
  background: rgba(0,0,0,0.4);
  }

.h1 {
  font-size: 90px;
  margin-bottom: 0px;
  text-align: left;
} 
.h3 {
  font-size: 70px;
  margin-bottom: 0px;
  text-align: left;
}
.h4 {
  font-size: 15px;
  margin-bottom: 60px;
  text-align: left;
} 

.head-wrap {
  top: 200px;
  position:relative; 
  width:200px; 
  height:60vh;
}
  
.head-min-block-1{
  background: green;
  margin-left: -100px;
  padding:10pt;
  width:300px;
  height:0px;
  display:inline-block;
  vertical-align: middle;
} 

.inthis{
  text-align:center;
  padding:10pt;
  border-radius:4pt;
}

.min-block{
  margin:10pt;
  padding:10pt;
  width:180px;
  height:230px;
  display:inline-block;
  vertical-align: middle;
}

.sm-block{
  width:10px;
  height:230px;
  display:inline-block;
  vertical-align: middle;
  line-height: 150px;
  color: gray;
} 

.big-block{
  margin:1pt;
  padding:1pt;
  width:280px;
  height:630px;
  display:inline-block;
  vertical-align: middle;
  text-align: left;
}
  
.big-center-block{
  margin:1pt;
  padding:10pt;
  width:500px;
  height:630px;
  display:inline-block;
  vertical-align: middle;
} 



.big-block-footer{
  color: gray;
  padding:10pt;
  width:280px;
  height:150px;
  display:inline-block;
  vertical-align: middle;
  text-align: left;
}
  
.big-center-block-footer{
  margin-left: 100px;
  margin-right: 100px;
  color: gray;
  padding:10pt;
  height:150px;
  display:inline-block;
  vertical-align: middle;
  line-height: 180px;
}

.sfooter {
  line-height: 230px;
}

.photo, .text {
  float:none; 
  margin:0; 
  padding:0;
}

.wrap {
  position:relative; 
  width:200px; 
  height:200px;
}

.text {
  position:absolute; 
  width:200px; 
  left:0; 
  bottom:0;
}

.center {
	text-align: center;
}

.ph-nav {
  font-size: 30px;
}

.nav-number {
  margin-top: 30px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #9a9a9a;
}

#header {
  background: white;
  width: 100%;
  position: relative; 
  z-index: 100; 
  border-radius: 5px; 
}

#header:after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  float: left;
  padding: 16px 10px 16px;
}

.logo a {
  font-size: 28px;
  display: block;
  padding: 0 0 0 20px;
}

nav {
  float: right;
}

nav>ul {
  float: left;
  position: relative;
}

nav li {
  list-style: none;
  float:left;
}

nav li a {
  float: left;
  padding: 10px;
}

nav li a:hover {
  color:#2C3E50;
}

#menu-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  margin-right: 30px;
  display: none;
}

#menu-icon span {
  border: 2px solid #9a9a9a;
  width: 30px;
  margin-bottom: 5px;
  display: block;
  -webkit-transition: all .2s;
  transition: all .1s;
}

@media only screen and (min-width: 1310px) {
  nav {
    display:block!important;
  }

  nav li a {
    line-height: 80px;
  }
}

@media only screen and (max-width: 1309px) {
  nav {
    display: none;
    width: 100%;
    clear: both;
    float: none;
    max-height: 400px;
    overflow-y: scroll; 
    position: relative;
  }

  #menu-icon {
    display: inline;
    top: 45px;
    cursor: pointer;
  }

  #menu-icon.active .first {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 10px;
  }

  #menu-icon.active .second {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    top: -9px;
  }

  #menu-icon.active .third {
    display:none;
  }

  nav {
    padding: 10px;
  }

  nav ul {
    float: none;
  }

  nav li {
    float: none;
  }
  nav ul li a {
    float: none;
    display: block;
  }
 
  #header nav a {
    color: #9a9a9a;
    padding: 0px;
  }

  #header nav a:hover {
    background: #fff;
    color: #333;
    border-radius: 3px;
  }
}
.active {
  color: #a0a000;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

.head {
  width: 600px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.anchor {
  height: 100px;
}

.slider {
  margin:0 auto;
  width: 80%;
  position: relative;
  overflow: hidden;
  height: 90vh;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  height: 80vh;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, .5);
  font-size: 15px;
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
  padding: 50px;
  text-align: center;
}

.slider__item>div>p{
  padding: 20px;
  text-align: center;
  color: gray;
}

.author {
  margin: 0 auto;
  width: 160px;
}

.imgauthor {

  border-radius: 80px;
  border: 4px solid green;
  width: 160px;
  height: 160px;
}

footer {
  margin-top: 0;
}
